<!DOCTYPE html>
<html>
    <head>
        <title>
            Important Questions 
        </title>
    </head>
<body>
    <h1>LISTEN UP MAGGOT THESE QUESTIONS ARE A MATTER OF LIFE AND DEATH</h1>
    <br><br>
    <h2>ANSWER THEM TRUTHFULLY OR ELSE<h2>
    <form action="formdata.asp" method="post" autocomplete="off">
        What's your name? <br>
        <input type="text" name="Name"><br>
        How many times has the sun revolved around the earth since you spawned?<br>
        <input type="text" name="Age"><br>          
        Who's your Favorite Ninja?<br>
        <input type="text" name="Patrick"><br>
        <input type="submit" name="Submit">
    </form>
</body>
</html>
