<!doctype html>
<html>
<head>

    <title> Successful login! </title>
    <link rel="stylesheet" type="text/css" href="../static/success.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="wrapper">

  <div class="content_wrapper">

    <h1 class="greeting"> hello {{name}}</h1>
    <h2 class="age_statement"> you are {{age}} years old</h2>
    <img class="img_patrick" src="../static/patrick.jpg">
    <h4 class="hi_patrick"> here is a pic of your favorite ninja!</h4>

    <a href="/">
      <div class="cool_button">
        <h3 class="cool_text"> cool! </h3>
      </div>
    </a>

  </div>
</div>
</body>

</html>